
body {background-color: #FF8C00}

.navbar-default {
    background-color: #FF7F50;
}

#food-llc-menu-dropdown li a {
   background-color:#D2691E;
   border: 1px solid black;
   color:white;
}

.menu-description .inner {
   background-color: gray;
   padding: 10px;
   border: 1px solid black;
   margin-bottom: 10px;
}

.menu-description  {
   padding: 5px;
}
